.headerClass {
  text-align: center;
  color: #eee;
  height: 100px;
  background-color: darkblue;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}