* { box-sizing: border-box;
}

/* html, body {
  height: 100%;
  margin: 0;
}
 */
/* body {
  /* background:
    url("../img/pexels-carlos-oliva-3586966.jpg")
    no-repeat center center fixed;    
  background-size: cover;
  color: #EEE;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
 */
/* a:link {
  color: #EEE;
  text-decoration: underline;
}

a:visited {
  color: #AAA;
  text-decoration: underline;
} */